body {
    margin: 0;
    font-family: Oswald;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: space-between; /* Espacement égal entre le logo et la nav */
    padding: 0 20px; /* Ajoute un peu d'espace autour du header */
    height: 100px; /* Hauteur du header */
    border-bottom: 1px solid #ddd; /* Ligne de séparation sous le header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  

  .logo {
    width: 180px;
    height: 180px; 
  }
  
  /* Navigation */
  .nav {
    display: flex;
    gap: 30px; /* Espace entre les liens */
    align-items: center; /* Centre les liens verticalement */
  }
  
  /* Style des liens de la navigation */
  .nav a {
    text-decoration: none;
    color: #333; /* Couleur par défaut des liens */
    font-size: 19px;
    font-weight: 500;
  }
  
  .nav a:hover {
    color: #d6b4fc; /* Couleur des liens au survol */
  }
  
  .active-link {
    font-weight: bold; /* Met le lien actif en gras */
    color: #000; /* Change la couleur du lien actif */
    text-decoration: underline; /* Sousligne le lien actif */
  }