footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    color: #fff;
  }
  
  footer a {
    margin: 0 15px;
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #8B5CF6; 
  }